*{

  padding: 0;
  margin: 0;
}
.game {
  width:  700px;
  height: 800px;
  border: 1px solid black;
  margin: auto;
  background-image: url(img/background.gif);
  background-size: 900px 1000px;
  overflow: hidden;
}

.character {
  width: 50px;
  height: 50px;
  background-image: url(img/character.png);
  background-size: 50px 50px;
  position: absolute;
  top: 100px;

}

.meteor {
  width: 50px;
  height: 500px;
  background-color: yellow;
  position: relative;
  left: 400px;
  animation: meteor 2s infinite linear;
}
@keyframes meteor {
  0%{left: 400px}
  100%{left:-50px}

}

.meteortwo {
  width: 50px;
  height: 150px;
  background-color: white;
  position: relative;
  left: 400px;
  top: -500px;
  animation: meteor 2s infinite linear;
}
